// colors
$primary: #ffffff;
$text-color: #5f6368;
$border-color: #d9d9d9;
$resize-color: #3c74ff;
$info-color: #f8f9fb;

// sizes
$row-height: 24px;
$info-width: 40px;
$cell-width: 120px;
$db-header-height: 64px;

// breakpoints:
$sm: 568px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// max width:
$sm-mw: 540px;
$md-mw: 720px;
$lg-mw: 960px;
$xl-mw: 1140px;
